---
layout: default
---

<div class="posts">
    {% for post in site.posts %}
    <article class="post">
        <h1>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h1>
        <div class="entry">
            {% if post.thumb %}
            <div style="margin-right: 10px; float: left">
                <img width="100" src="{{ post.thumb }}" >
            </div>
            {% endif %}

            {{ post.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
